{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

## Install brew packages
## https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
{{ if and (ne .serial_number "xyzzy") (eq . "zed") -}}
# Skipping zed cask
{{ else -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
