{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

## Set machine name

sudo scutil --set ComputerName {{ keepassxcAttribute (print .dotfiles.serial_number) "computer_name" | quote }}
sudo scutil --set HostName {{ keepassxcAttribute (print .dotfiles.serial_number) "computer_name" | quote }}
sudo scutil --set LocalHostName {{ keepassxcAttribute (print .dotfiles.serial_number) "computer_name" | quote }}

sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ keepassxcAttribute (print .dotfiles.serial_number) "computer_name" | quote }}

{{- end }}
