# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Libreoffice lock files
.~lock*

# Komodo project files
*.komodoproject

# Vagrant working directory
.vagrant

# IDEA project directory
.idea
