{{- $serialNumber := "Unknown" -}}
{{- $computerName := "Unknown" -}}

{{ if eq .chezmoi.os "darwin" }}
    {{- $serialNumber = index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" -}}
{{- end -}}

[keepassxc]
    database = "~/secrets.kdbx"

[data]
    dotfiles.computer_name = {{ $computerName | quote }}
    dotfiles.serial_number = {{ $serialNumber | quote }}
